@model qf.AspNetCore3_1.Project.Models.CurrentUser
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    CurrentUser userViewData = ViewData["User"] as CurrentUser;
    CurrentUser userViewBag = ViewBag.User;
    CurrentUser userOther = ViewBag.User;
    CurrentUser userTemp = base.TempData["User"] as CurrentUser;
    CurrentUser sessionUser = Newtonsoft.Json.JsonConvert.DeserializeObject<CurrentUser>(base.Context.Session.GetString("UserSession"));
}
<h1>
    First-Index
</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>ViewData:@(((CurrentUser)ViewData["User"]).Name)</p>
        <p>userViewData:@userViewData.Name</p>
        <p>userViewBag:@userViewBag.Account</p>
        <p>userOther:@userOther.Name</p>
        <p>userTemp:@userTemp.Name</p>
        <p>Model:@base.Model.Name</p>
        <p>userSession:@sessionUser.Name</p>
    </div>
</div>